DJANGO_DEBUG=True
DJANGO_SECRET_KEY="change-me"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=tvtel_db
POSTGRES_USER=tvtel_app
POSTGRES_PASSWORD="change-me"
POSTGRES_HOST=localhost
POSTGRES_PORT=5433